


    <div class="firstfooter" >
        <div class="cont1">
            <h3>{{footer.footerheading}}</h3>
            <p>{{footer.footerdesc1}} <span style="color:#d66f37">{{footer.footerdesc2}}</span>{{footer.footerdesc3}}<span
                    style="color:#d66f37">{{footer.footerdesc4}}</span></p>
        </div>
        <div class="cont2">
            <input type="text" placeholder="Email"><span><button>{{footer.footerbtn}}</button></span>
            <p>{{footer.footerdes}}</p>
        </div>
    </div>

    
