<!-- <div *ngFor="let data of inputData">
    {{data.img}}
    {{data.title}}
    {{data. description}}
    {{data.learnmore}}
</div> -->
<div class="services">
   
    <span class="headerline"></span>

     <div class="boxes" >
      <div class="divcontent divcontent2"  *ngFor="let service of inputData">
          <div class="flex">
              <img src={{service.img}}>
              <h3>{{service.title}}</h3>
          </div>
          <p>{{service.description}}</p>
          <a href="#">{{service.learnmore}}</a>

      </div> 
     
    </div>
</div>

<!-- <div class="numberexp" >

    <div class="fulldiv1" class="fulldiv2" >
        <div class="div1" class="div2"  *ngFor="let servicelist of project">
            <img src={{servicelist.image}}>
            <h1>{{servicelist.project}}</h1>
            <h5>{{servicelist.title}}</h5>
        </div>
       <div class="div3" class="div4"  *ngFor="let servicelist of project">
            <img src={{servicelist.image}}>
            <h1>{{servicelist.project}}</h1>
            <h5>{{servicelist.title}}</h5>
        </div>
        
    </div>
</div> -->