<div class="experience">
    <!-- <div class="contentexp">
        <h2>{{experience.experiencetitle}}</h2>
        <p>{{experience.experiencedescription}}</p>
        <button>Contact Us</button>
    </div>

    <span>
        <img src={{experience.experienceimg}} height="490">
    </span> -->

    <div class="numberexp" >
    
    <div class="fulldiv1" class="fulldiv2" >
        <div class="div1" class="div2" class="div3"  class="div4" *ngFor="let servicelist of project">
            <img src={{servicelist.image}}>
            <h1>{{servicelist.project}}</h1>
            <h5>{{servicelist.title}}</h5>
        </div>
        
    </div>
</div></div>
    