
<div class="contactus">
 
    <div class="formdetail" >
        <h1 style="text-align: center;">Our Global Presence</h1>
        <div class="address" *ngFor="let inputdata of ourglobal" >
            <div class="place">
                <h6>{{inputdata.heading}}</h6>
                <p class="add-city">{{inputdata.description}}</p>
                 <a href="tel:+91 99138 08285" class="contact mobile-no"><i
                        class="bi bi-telephone-fill"></i>{{inputdata.num}} </a> 
            </div>
           

        </div>
    </div>
</div>