<div class="footer">
<div class="firstfooter">
    <div class="division" >
        <div class="hire"  *ngFor="let devloperdata of footerdevloper ">
            <h3>{{devloperdata.footerhiredevelopers}}</h3>
            <ul>
                <li><a href="">{{devloperdata.footerpython}}</a></li>
                <li><a href="">{{devloperdata.footerangular}}</a></li>
                <li><a href="">{{devloperdata.footerror}}</a></li>
                <li><a href="">{{devloperdata.footerflutter}}</a></li>
                <li><a href="">{{devloperdata.footerreact}}</a></li>
                <li><a href="">{{devloperdata.footerreactnative}}</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
 
