<div class="topbar">
  <app-navbar ></app-navbar>
  <app-section ></app-section>
</div>


<!-- ___________________________________________________________ -->

<app-service ></app-service>


<!-- ___________________________________________________________ -->

<app-experience></app-experience>

 

<!-- ____________________________________________________________________ -->

<h1 style="text-align: center; margin: 40px; font-size: 2rem; margin-bottom: 0">
  {{ ourtechnologies }}
</h1>
<span class="headerline"></span>
<div class="row">
  <div class="menu">
    <ul>
      <div>
        <app-technology ></app-technology>
       
      </div>
    </ul>
  </div>
  <div class="language">
    <div class="web">
      <h1>{{ web }}</h1>
      <h2 style="margin-top: 20px; font-weight: 400">{{ backendname }}</h2>
      <div class="backend">
        <app-backend ></app-backend>
       
      </div>

      <h2>Front End</h2>
      <div class="frontend">
        <app-frontend></app-frontend>
       
      </div>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->


<div class="empowers">
  <div class="empowerbox">
    <app-why-tegline ></app-why-tegline>
    <div class="imgnumflex">
     
    </div>
   
  </div>
 
</div>

<!-- ____________________________________________________________________ -->

<div class="reviews">
  <div class="flex" style="display: flex;">
    <!-- <app-review [words]="wordsclient"></app-review> -->
    <app-wordsclient ></app-wordsclient>
    <app-review></app-review>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="awards">
    <app-awards ></app-awards>
 
</div>

<!-- ____________________________________________________________________ -->

<div class="blogs">
 
  <app-ourblogs ></app-ourblogs>
</div>


<!-- ____________________________________________________________________ -->

  <div class="global">
    <div class="address">
   
    </div>
  
  <app-ourglobal ></app-ourglobal>
   <app-form ></app-form> 
 
</div>

<!-- ____________________________________________________________________ -->

<div class="footer">
  <app-footer ></app-footer>
  <app-footerhr ></app-footerhr>
  <app-footehelp ></app-footehelp>
  <app-footservices ></app-footservices>
  <app-foothiredevlopers
   
  ></app-foothiredevlopers>
  <app-footlastline></app-footlastline>

  
</div>
<router-outlet></router-outlet>
