
  <!-- <div class="reviewword"> 
     <h1>{{}}</h1>
        <span class="headerline"></span>
        <p>{{}}</p>
        <p>{{}}</p> 
  </div> -->
  <!-- <h1 style="text-align: center;">Words From Our Clientele</h1> -->


  <div class="reviews">
  <div class="reviewsboxes">
    <div class="revbox" *ngFor="let reviewdata of review">
      <div class="rating">
        <h3>{{ reviewdata.heading }}</h3>
        <div class="form-text small">
         
        </div>
        
        <!-- <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div> -->
      </div>
      <p>{{reviewdata.desc }}</p>
      <small>{{reviewdata.des }}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>&nbsp;
        <p>{{ reviewdata.review }}</p>
      </div>
    </div>
  </div>
</div>
