

 .division {
     display: flex;
     justify-content: space-evenly;
     margin-top: 30px;
 }
 
 /* .footer .division div{
     padding: 25px 25px 0 25px;
 } */
 
  .division div h3 {
     font-size: 25px;
 }
 
 .division ul {
     flex-direction: column;
 }
 
  .division ul li {
     list-style: none;
     padding: 15px 0 5px 0;
 
 }
 
  .division ul li a {
     font-size: 18px;
     text-decoration: none;
     color: gray;
 }
 
 .lastfooterdiv {
     display: flex;
     justify-content: space-evenly;
     margin-top: 30px;
 }
 
 .lastfooterdiv div a i {
     padding: 0 5px 0 10px;
     font-size: 20px;
 }