<div class="footer">
<div class="firstfooter">
    <div class="division">
    <div class="lastfooterdiv" *ngFor="let line of footerlastline">
        <img src="../assets/images/tagline-stamp.png"> 
        <div><a href="" style="text-decoration: none;color: gray;font-size: 17px;">{{line.footerfollow}} <i
                    class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-globe"></i>
    
            </a></div>
        <p><span style="color:#d66f37">{{line.footer2022}}</span> {{line.footerreserved}} <a href=""
                style="text-decoration: none;color:#d66f37">{{line.footercompanyname}}</a></p>
    </div> 
    
</div>
</div>
</div>

