<div class="awards">
    <!-- <div class="awardhead"> -->
    <h1>
      {{ recognition.awardstitle1 }} <br />
      {{ recognition.awardstitle2 }}
    </h1>
    <!-- </div> -->
    <div class="awardimage" >
      <img src="{{ recognition.awardsimg1 }}" height="160" width="160" />
      <img src="{{ recognition.awardsimg2 }}" height="160" width="160" />
      <img src="{{ recognition.awardsimg3 }}" height="160" width="160" />
      <img src="{{ recognition.awardsimg4 }}" height="160" width="160" />
      <img src="{{ recognition.awardsimg5 }}" height="160" width="160" />
    </div>
  </div>
